<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" version="6.0">
  <servlet>
    <description></description>
    <display-name>LoginClient</display-name>
    <servlet-name>LoginClient</servlet-name>
    <servlet-class>com.example.Controler.LoginClient</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginClient</servlet-name>
    <url-pattern>/LoginClient</url-pattern>
  </servlet-mapping>
  <display-name>wood</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>ArticleControler</servlet-name>
    <servlet-class>com.example.Controler.ArticleControler</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Logincontroler</servlet-name>
    <servlet-class>com.example.Controler.Logincontroler</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UserController</servlet-name>
    <servlet-class>com.example.Controler.UserController</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Logoutcontroler</servlet-name>
    <servlet-class>com.example.Controler.Logoutcontroler</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>GereArticle</servlet-name>
    <servlet-class>example.Controler.GereArticle</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>CommandeControler</servlet-name>
    <servlet-class>com.example.Controler.CommandeControler</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ArticleControler</servlet-name>
    <url-pattern>/ArticleControler</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Logincontroler</servlet-name>
    <url-pattern>/Logincontroler</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UserController</servlet-name>
    <url-pattern>/UserController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Logoutcontroler</servlet-name>
    <url-pattern>/Logoutcontroler</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GereArticle</servlet-name>
    <url-pattern>/GereArticle</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CommandeControler</servlet-name>
    <url-pattern>/CommandeControler</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteUser</display-name>
    <servlet-name>DeleteUser</servlet-name>
    <servlet-class>com.example.Controler.DeleteUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteUser</servlet-name>
    <url-pattern>/DeleteUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CommandeUpdate</display-name>
    <servlet-name>CommandeUpdate</servlet-name>
    <servlet-class>com.example.Controler.CommandeUpdate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CommandeUpdate</servlet-name>
    <url-pattern>/CommandeUpdate</url-pattern>
  </servlet-mapping>
</web-app>